@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hanson";
  src:
    url("./fonts/hanson.woff2") format("woff2"),
    url("./fonts/hanson.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: black;
  background: #0db7ff;
}

::-webkit-scrollbar {
  border-radius: 100px;
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: rgb(250, 250, 250, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(250, 250, 250, 0.2);
}
